HsaTools/trunk/Search/composites/schema/src/main/resources/wsdl/Netwise_SMSRedirect_HAK.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://lina.lthalland.se/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://lina.lthalland.se/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://lina.lthalland.se/">
      <s:element name="GetUrlFromMNr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mNr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUrlFromMNrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUrlFromMNrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUrlFromMNrAndHPagin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mNr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hPagin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUrlFromMNrAndHPaginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUrlFromMNrAndHPaginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUrlFromMNrSoapIn">
    <wsdl:part name="parameters" element="tns:GetUrlFromMNr" />
  </wsdl:message>
  <wsdl:message name="GetUrlFromMNrSoapOut">
    <wsdl:part name="parameters" element="tns:GetUrlFromMNrResponse" />
  </wsdl:message>
  <wsdl:message name="GetUrlFromMNrAndHPaginSoapIn">
    <wsdl:part name="parameters" element="tns:GetUrlFromMNrAndHPagin" />
  </wsdl:message>
  <wsdl:message name="GetUrlFromMNrAndHPaginSoapOut">
    <wsdl:part name="parameters" element="tns:GetUrlFromMNrAndHPaginResponse" />
  </wsdl:message>
  <wsdl:portType name="SMSRedirectSoap">
    <wsdl:operation name="GetUrlFromMNr">
      <wsdl:input message="tns:GetUrlFromMNrSoapIn" />
      <wsdl:output message="tns:GetUrlFromMNrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUrlFromMNrAndHPagin">
      <wsdl:input message="tns:GetUrlFromMNrAndHPaginSoapIn" />
      <wsdl:output message="tns:GetUrlFromMNrAndHPaginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SMSRedirectSoap" type="tns:SMSRedirectSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUrlFromMNr">
      <soap:operation soapAction="http://lina.lthalland.se/GetUrlFromMNr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUrlFromMNrAndHPagin">
      <soap:operation soapAction="http://lina.lthalland.se/GetUrlFromMNrAndHPagin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SMSRedirectSoap12" type="tns:SMSRedirectSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUrlFromMNr">
      <soap12:operation soapAction="http://lina.lthalland.se/GetUrlFromMNr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUrlFromMNrAndHPagin">
      <soap12:operation soapAction="http://lina.lthalland.se/GetUrlFromMNrAndHPagin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMSRedirect">
    <wsdl:port name="SMSRedirectSoap" binding="tns:SMSRedirectSoap">
      <soap:address location="http://wslina.lthalland.se/SMSRedirect.asmx" />
    </wsdl:port>
    <wsdl:port name="SMSRedirectSoap12" binding="tns:SMSRedirectSoap12">
      <soap12:address location="http://wslina.lthalland.se/SMSRedirect.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>