HsaTools/trunk/Search/composites/schema/src/main/resources/wsdl/unit_details_eniro.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2009 Västra Götalandsregionen

      This library is free software; you can redistribute it and/or modify
      it under the terms of version 2.1 of the GNU Lesser General Public
      License as published by the Free Software Foundation.

      This library is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU Lesser General Public License for more details.

      You should have received a copy of the GNU Lesser General Public
      License along with this library; if not, write to the
      Free Software Foundation, Inc., 59 Temple Place, Suite 330,
      Boston, MA 02111-1307  USA

-->
<!-- edited with XMLSpy v2007 (http://www.altova.com) by Mattias Ericsson (Eniro Sweden AB) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:element name="Organization">
		<xs:annotation>
			<xs:documentation>The organization is the top node</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Country">
					<xs:annotation>
						<xs:documentation>Defines the country for the organization and it's parts using the two character notation defined by ISO 3166-1.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="2"/>
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="Id">
					<xs:annotation>
						<xs:documentation>An official identity of the organization</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Name">
					<xs:annotation>
						<xs:documentation>The name of the organization</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="OrgNo" minOccurs="0"/>
				<xs:element ref="Unit" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The unit can represent an organizational unit or level or a logical unit as well as a placeholder in a logical information hierarchy.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="LoadType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Full"/>
						<xs:enumeration value="Increment"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute ref="ValidFrom"/>
			<xs:attribute ref="ValidTo"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Description">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute ref="Visibility"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Name" type="xs:string" nillable="false"/>
	<xs:element name="Label" type="xs:string"/>
	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="Type">
				<xs:annotation>
					<xs:documentation>The type of address given the fixed options</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Visit"/>
						<xs:enumeration value="Goods"/>
						<xs:enumeration value="Delivery"/>
						<xs:enumeration value="Post"/>
						<xs:enumeration value="Billing"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GeoCoordinates" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Geographical coordinates according to the RT90 format</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Xpos" type="xs:unsignedLong"/>
						<xs:element name="Ypos" type="xs:unsignedLong"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="Label" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Can represent name, title, unitname or other lables of the address</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StreetName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The name of the street or location</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StreetNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The number of the street or location. Can contain any notation of the number such as intervals and letters.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Floor" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The floor number or name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Box" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Post box number or name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostCode" type="xs:NMTOKENS" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Post/zip code as a number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="City" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The city.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="Visibility"/>
	</xs:complexType>
	<xs:element name="E-alias" type="E-aliasType"/>
	<xs:element name="Telephone" type="TelephoneType"/>
	<xs:element name="Address">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AddressType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Id" type="xs:string"/>
	<xs:complexType name="TelephoneType">
		<xs:sequence>
			<xs:element name="Type">
				<xs:annotation>
					<xs:documentation>The type of number</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Mobile"/>
						<xs:enumeration value="Fixed"/>
						<xs:enumeration value="Fax"/>
						<xs:enumeration value="Switch"/>
						<xs:enumeration value="Other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="Label" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A label shortly describing the number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AreaCode" type="xs:NMTOKENS" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Area code if applicable</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TelephoneNumber" type="xs:NMTOKENS">
				<xs:annotation>
					<xs:documentation>The number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TelephoneHours" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Possible telephone hours for this number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="Visibility"/>
	</xs:complexType>
	<xs:complexType name="E-aliasType">
		<xs:sequence>
			<xs:element name="Type">
				<xs:annotation>
					<xs:documentation>The type of alias.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="URL"/>
						<xs:enumeration value="E-mail"/>
						<xs:enumeration value="E-id"/>
						<xs:enumeration value="Other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="Label" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A label shortly describing the alias.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Alias" type="xs:string">
				<xs:annotation>
					<xs:documentation>The actual address or alias.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="Visibility"/>
	</xs:complexType>
	<xs:complexType name="UnitType">
		<xs:sequence>
			<xs:element ref="Id">
				<xs:annotation>
					<xs:documentation>An official identity of the unit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ParentUnitId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines the id of the parent unit if exist. Used only in incremental updates where a list of units are provided.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="OrgNo" minOccurs="0"/>
			<xs:element ref="Name">
				<xs:annotation>
					<xs:documentation>The name of the unit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Management" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of management form, company type, ownership etc.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute ref="Visibility"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Description" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Free text description of the unit or information related to the unit.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Image" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Identifies an image.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Label">
								<xs:annotation>
									<xs:documentation>The name, title or caption of the image. Should be possible to publish in different media.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="FileName" type="xs:string">
								<xs:annotation>
									<xs:documentation>The file name of the image file.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute ref="Visibility"/>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Address" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Represents an address.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Telephone" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Telephone contact information related to the unit.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="E-alias" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Contact information related to the unit such as e-mail, web addresses etc.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="VisitingConditions" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Details of visiting conditions.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="VisitingHours" type="xs:string" minOccurs="0"/>
							<xs:element name="DropInHours" type="xs:string" minOccurs="0"/>
							<xs:element name="VisitingRules" type="xs:string" minOccurs="0"/>
							<xs:element name="Route" minOccurs="0">
								<xs:annotation>
									<xs:documentation>The description of the route to this location</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute ref="Visibility"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="BusinessClassification" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Label of what the unit's business is about such as "day care center", hospital etc.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BCCode" type="xs:string">
								<xs:annotation>
									<xs:documentation>The business classification code</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="BCName" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>The business classification name</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute ref="Visibility"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Person" type="PersonType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Official person related to the unit.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Locality" minOccurs="0">
					<xs:annotation>
						<xs:documentation>A locality for the unit such as city district, a name or the area where it is located etc.  </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute ref="Visibility"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element ref="Unit" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="Operation" use="optional" default="leave">
			<xs:annotation>
				<xs:documentation>Defines the operation to perform on information of the Unit: create, remove, update, leave.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="Reviewable" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates if the unit or organization should be reviewable in applicable media and channels.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="Visibility"/>
		<xs:attribute ref="ValidFrom"/>
		<xs:attribute ref="ValidTo"/>
	</xs:complexType>
	<xs:element name="Unit">
		<xs:annotation>
			<xs:documentation>The unit can represent an organizational unit or level or a logical unit as well as a placeholder in a logical information hierarchy</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="UnitType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="PersonType">
		<xs:sequence>
			<xs:element ref="Id">
				<xs:annotation>
					<xs:documentation>An official identity of the person.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Name">
				<xs:annotation>
					<xs:documentation>The person's name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Label" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Short description, title etc. of the person</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Address" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The person's adderss if applicable.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Telephone" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The person's telephone contact information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="E-alias" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The person's e-mail, web address, skype address or other alias.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="Visibility"/>
	</xs:complexType>
	<xs:attribute name="Visibility" type="xs:string">
		<xs:annotation>
			<xs:documentation>Defines the visibility in different channels using a comma-separated syntax. Ex. "site 1,site 2".</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="Operation">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="leave"/>
				<xs:enumeration value="create"/>
				<xs:enumeration value="update"/>
				<xs:enumeration value="remove"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="Reviewable" type="xs:boolean" default="false"/>
	<xs:element name="OrgNo" type="xs:NMTOKENS">
		<xs:annotation>
			<xs:documentation>The organization number</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:attribute name="ValidFrom" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Defines the date and time when the organization instance starts to be valid (e.g. published). An empty value is equals to allways valid.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="ValidTo" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Defines the date and time when the organization instance ends to be valid (e.g. unpublished). An empty value is equals to allways valid.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
</xs:schema>
