HsaTools/trunk/Search/composites/schema/src/main/resources/wsdl/VardvalService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:VGRegion.VGPrimärvård.Vårdval.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:VGRegion.VGPrimärvård.Vårdval.Service">
  <xs:import schemaLocation="VardvalService_1_2.xsd" namespace="http://schemas.microsoft.com/Message"/>
  <xs:import schemaLocation="VardvalService_1_2_3.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
  <xs:element name="GetAllVårdvalAsCsvStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="avstämningsdatum" type="xs:dateTime"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVårdvalAsCsvStreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GetAllVårdvalAsCsvStreamResult" type="q1:StreamBody" xmlns:q1="http://schemas.microsoft.com/Message"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="VårdvalServiceError">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="tns:VårdvalServiceErrorCode"/>
      <xs:element minOccurs="0" name="MessageList" nillable="true" type="q2:ArrayOfstring" xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VårdvalServiceError" nillable="true" type="tns:VårdvalServiceError"/>
  <xs:simpleType name="VårdvalServiceErrorCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InternalServerError"/>
      <xs:enumeration value="InvalidRequestParameter"/>
      <xs:enumeration value="AccessDenied"/>
      <xs:enumeration value="UnknownUser"/>
      <xs:enumeration value="VårdvalAlreadyExists"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="VårdvalServiceErrorCode" nillable="true" type="tns:VårdvalServiceErrorCode"/>
  <xs:element name="GetVårdvalRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Personnummer" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVårdvalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AktivtVårdval" nillable="true" type="tns:VårdvalEntry"/>
        <xs:element minOccurs="0" name="KommandeVårdval" nillable="true" type="tns:VårdvalEntry"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="VårdvalEntry">
    <xs:sequence>
      <xs:element name="GiltigFrån" type="xs:dateTime"/>
      <xs:element name="Kön" type="tns:Kön"/>
      <xs:element minOccurs="0" name="Nämndkod" nillable="true" type="xs:string"/>
      <xs:element name="Personnummer" nillable="true" type="xs:string"/>
      <xs:element name="VårdcentralHsaId" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="VårdcentralNamn" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VårdvalEntry" nillable="true" type="tns:VårdvalEntry"/>
  <xs:simpleType name="Kön">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Man"/>
      <xs:enumeration value="Kvinna"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Kön" nillable="true" type="tns:Kön"/>
  <xs:element name="SetVårdvalRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Personnummer" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="Signeringskod" nillable="true" type="xs:base64Binary"/>
        <xs:element minOccurs="0" name="VårdcentralHsaId" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVårdvalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AktivtVårdval" nillable="true" type="tns:VårdvalEntry"/>
        <xs:element minOccurs="0" name="KommandeVårdval" nillable="true" type="tns:VårdvalEntry"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVårdvalOchPersonRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Personnummer" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVårdvalOchPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AktivtVårdval" nillable="true" type="tns:VårdvalEntry"/>
        <xs:element minOccurs="0" name="KommandeVårdval" nillable="true" type="tns:VårdvalEntry"/>
        <xs:element minOccurs="0" name="Person" nillable="true" type="tns:PersonEntry"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PersonEntry">
    <xs:sequence>
      <xs:element name="Adress" nillable="true" type="xs:string"/>
      <xs:element name="Efternamn" nillable="true" type="xs:string"/>
      <xs:element name="Förnamn" nillable="true" type="xs:string"/>
      <xs:element name="Kommun" nillable="true" type="xs:string"/>
      <xs:element name="Län" nillable="true" type="xs:string"/>
      <xs:element name="Mellannamn" nillable="true" type="xs:string"/>
      <xs:element name="Personnummer" nillable="true" type="xs:string"/>
      <xs:element name="Postnummer" nillable="true" type="xs:string"/>
      <xs:element name="Postort" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonEntry" nillable="true" type="tns:PersonEntry"/>
  <xs:element name="UpdateValidVårdcentralerMedAvtal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vårdcentraler" nillable="true" type="tns:ArrayOfVårdcentralMedAvtal"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfVårdcentralMedAvtal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VårdcentralMedAvtal" nillable="true" type="tns:VårdcentralMedAvtal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVårdcentralMedAvtal" nillable="true" type="tns:ArrayOfVårdcentralMedAvtal"/>
  <xs:complexType name="VårdcentralMedAvtal">
    <xs:sequence>
      <xs:element name="HsaId" nillable="true" type="xs:string"/>
      <xs:element name="Slutdatum" type="xs:dateTime"/>
      <xs:element name="Startdatum" type="xs:dateTime"/>
      <xs:element name="VårdcentralId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VårdcentralMedAvtal" nillable="true" type="tns:VårdcentralMedAvtal"/>
  <xs:element name="UpdateValidVårdcentralerMedAvtalResponse">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVårdcentralerMedGiltigaAvtal">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVårdcentralerMedGiltigaAvtalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVårdcentralerMedGiltigaAvtalResult" nillable="true" type="tns:ArrayOfVårdcentralMedAvtal"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>